<div id="page">

<h2>
<a href="/"><img src="/favicon.ico" height="25" width="25" style="vertical-align:middle;" /></a>
Categories
</h2>
<div style="text-align: justify;">
<% FOREACH c IN categories %>
<a href="/?category=&quot;<% c.key | uri %>&quot;"><% c.key.ucfirst %> (<% c.value %>)</a>
<% END %>
</div>

</div>
