<div id="page">

<h2>
<a href="/"><img src="/favicon.ico" height="25" width="25" class="logoAlign" /></a>
Categories
</h2>
<div class="categoryText">
<% FOREACH c IN categories %>
<a href="/?category=&quot;<% c.key | uri %>&quot;"><% c.key.ucfirst %> (<% c.value %>)</a>
<% END %>
</div>

</div>
