<div id="page">

<h3 class="pageTitle">
<a href="/"><% page_title %></a>
<br />
Categories:
</h3>
<div class="categoryText">
<% FOREACH c IN categories %>
<a href="/?category=&quot;<% c.key | uri %>&quot;"><% c.key.ucfirst %> (<% c.value %>)</a>
<% END %>
</div>

</div>
